/* CSS General */
:root{
    --background-color: #130F26;
    --secondary: #569B51;
    --text-color: #FFFFFF;    
}

main{
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10em; /* Colocamos bastante margen */
    box-sizing: border-box;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.btn{
    background-color: var(--secondary);
    color: var(--text-color);
}

.btn.large {    
    width: 100%;
}

/* CSS Estructura */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* CSS Drag And Drop */
.drag-and-drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    /*border: 1px dashed #FFFFFF;*/
    box-shadow: 0px 0px 10px 5px var(--secondary);
    border-radius: 5px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    height: 50vh;
    margin-bottom: 3em;
}

.input-drag-and-drop{
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    opacity: 0;
}
.drag-and-drop-title{
    position: absolute;
}