/* CSS General */
:root{
    --background-color: #130F26;
    --secondary: #569B51;
    --text-color: #FFFFFF;    
}

main{
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10em; /* Colocamos bastante margen */
    box-sizing: border-box;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.btn{
    background-color: var(--secondary);
    color: var(--text-color);
}

.btn.large {    
    width: 100%;
}

/* CSS Estructura */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* CSS Drag And Drop */
.drag-and-drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    /*border: 1px dashed #FFFFFF;*/
    box-shadow: 0px 0px 10px 5px var(--secondary);
    border-radius: 5px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    height: 50vh;
    margin-bottom: 3em;
    padding: 1em;
    overflow: auto;
}

/* Lugar donde se escriben los toast */
.toast_space{
    display: block;    
    width: 350px;
    min-height: 300px;
    max-height: 100vh;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
}

/* Sobrescribir estilos de Bootstrap */

/* Header del toast mejor distribuido */
.toast-header {
    display: flex;
    justify-content: space-between;
}

/* Boton de cierre redondito */
button.ml-2.mb-1.close {
    border: 1px solid black;
    border-radius: 1em;
}

/* Hacemos las tarjetas mas legibles */
.toast-body {
    background: white;
    color: black;
}